<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <title>Tentang Aplikasi</title>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Tentang Aplikasi</h1>
          </div>
          <div class="content">
            <h3>
              Lappyman merupakan sebuah website yang dikembangkan untuk memenuhi
              skripsi peneliti ,dalam website ini user dapat menentukan laptop
              pilihannya berdasarkan aplikasi dan harga yang diinginkan
            </h3>
            <div class="button">
              <a href="/">kembali ke halaman utama</a>
            </div>
            <div class="image-section">
              <img src="../static/img/Logo.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
